/* Beginning of services.html CSS */

.servicesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.servicesHeaderImg{
    margin: 65px 0px 30px 0px;
    width: 100%;
}

h2 {
    font-size: 2.8rem;
    text-align: left;
}

.topServices {
    margin-bottom: 40px;
}

.midServices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 40px;
}

.textbox {
    border: 1px solid black;
    background-color: whitesmoke;
    width: 47.8%;
    padding: 20px;
    padding-right: 25px;
    margin-bottom: 45px;
}

.servicesButton {
    border: 1px solid black;
    padding: 10px;
    width: 140px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

.bottomServices {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.bottomLeftServices {
    width: 45%;
}

li {
    list-style-type: square;
    margin: 15px 0 15px 20px;
    font-size: 1.6rem;
    text-align: left;
}

footer p{
    font-size: 1.6rem;
}

@media (max-width: 800px) {
    .servicesHeaderImg{
        margin-top: 140px;
    }
    .midServices {
        justify-content: center;
    }

    .textbox {
        width: 80%;
        /* display: none; */
    }

    .bottomServices {
        justify-content: center;
    }

    .services-info-img {
        display: none;
    }

    .bottomLeftServices {
        width: 80%;
    }

    footer {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .servicesHeaderImg {
        margin-top: 0px;
        display: none;
    }

    .topServices {
        margin-top: 20px;
    }

    .textbox {
        width: 95%;
    }
    .bottomLeftServices {
        width: 95%;
    }
}